    <div class="row">
      <span class="dashboard-section"  >
             <label> 
             <%= title %>
               <i class="caret mdi mdi-menu-down no-reverse"></i>
             </label>
      </span>
      <div class="collapsible big <%= ((main && params[:nominees].blank? and params[:archived].blank?) or (!main and params[:nominees].blank? and !params[:archived].blank?)) ? ' show':'' %>">
      <% unless users.empty? %>
      <div id="registered-users" class="flex-table flex-registered" style="order:0;">
        <div class="table-header" id="registered-header">
          <div data-field="name" class="flex-table-header flex-table-cell flex-table-email <%= getFilterClass("family_name", params) %>">
            <a href="<%=getFilterURL("family_name", params, main)%>">Student Name</a>
          <i class="caret mdi mdi-menu-down reverse"></i>
          </div>
          <div data-field="uni" class="flex-table-header flex-table-cell flex-table-univ <%= getFilterClass("inst_sending_name", params) %>">
            <a href="<%=getFilterURL("inst_sending_name", params, main) %>">University</a>
          <i class="caret mdi mdi-menu-down reverse"></i>
          </div>
          <div data-field="period" class="flex-table-header flex-table-cell flex-table-period <%= getFilterClass("academic_year", params) %>">
            <a href="<%=getFilterURL("academic_year", params, main) %> ">Period</a>
          <i class="caret mdi mdi-menu-down reverse"></i>
          </div>
          <div data-field="form" class="flex-table-header flex-table-cell flex-table-app-form"> Form
          <i class="caret mdi mdi-menu-down reverse"></i>
          </div>
          <div data-field="letter" class="flex-table-header flex-table-cell flex-table-mot-letter">Letter
          <i class="caret mdi mdi-menu-down reverse"></i>
          </div>
          <div data-field="cv" class="flex-table-header flex-table-cell flex-table-cv">CV
          <i class="caret mdi mdi-menu-down reverse"></i>
          </div>
          <div data-field="tr" class="flex-table-header flex-table-cell flex-table-trans-rec">TR
          <i class="caret mdi mdi-menu-down reverse"></i>
          </div>
          <div data-field="la" class="flex-table-header flex-table-cell flex-table-la">LA
          <i class="caret mdi mdi-menu-down reverse"></i>
          </div>
          <div data-field="status" class="flex-table-header flex-table-cell flex-table-status <%= getFilterClass("progress_status", params) %>">
            <a href="<%=getFilterURL("progress_status", params, main) %>">Status</a>
          <i class="caret mdi mdi-menu-down reverse"></i>
          </div>
          <div data-field="pctg" class="flex-table-header flex-table-cell flex-table-pctg ">%
            <i class="caret mdi mdi-menu-down reverse"></i>
          </div>
        </div>
        
        <% users.each_with_index do |user, index| %>
          <div class="registered-item"  >
            <div data-name="<%= (defined? user.family_name ? user.family_name : "").split(" ").join("") %>" class="user-<%= user.id %>-id flex-table-cell flex-table-email">
              <span class="big-hidden">Email:</span><a href="<%= RELATIVE_URL %>/review_dashboard/<%=user.id%>/before"><span class="email"><%= user.family_name %>, <%= user.first_name %> </span></a>
            </div>
            <div data-uni="<%= user.student_application_form.inst_sending_name %>" class="user-<%= user.id %>-id flex-table-cell flex-table-univ">
              <span class="big-hidden">University: </span>
              <%= user.student_application_form.inst_sending_name %>
            </div>
            <div data-period="<%= user.student_application_form.academic_year %>" class="user-<%= user.id %>-id flex-table-cell flex-table-period">
              <span class="big-hidden">Period: </span>
              <%= user.student_application_form.academic_year %>
            </div>
            <% pctg = user.student_application_form.completed_percentage(!user.signed_student_application_form.blank?) %>
            <div data-form="<%= pctg %>" class="user-<%= user.id %>-id flex-table-cell flex-table-app-form">
              <span class="big-hidden">App Form: </span>
              <span class="dashboard-icon">
                <a href="<%= RELATIVE_URL %>/review_student_application_form/<%=user.id%>/1">
                  
                <%="#{pctg}" %>
                  <i  class="mdi mdi-clipboard-text app-form <%= 'green' if pctg === '100%' %>"></i>
                </a>
              </span>
            </div>
            <div data-letter="<%= user.motivation_letter.exists? %>" class="user-<%= user.id %>-id flex-table-cell flex-table-mot-letter">
              <span class="big-hidden">Mot. Letter: </span>
              <span class="dashboard-icon">
                <i class="mdi mdi-email <%=  'exists' if user.motivation_letter.exists?  %>"></i>
              </span>
            </div>
            <div data-cv="<%= user.curriculum_vitae.exists? %>" class="user-<%= user.id %>-id flex-table-cell flex-table-cv">
              <span class="big-hidden">CV: </span>
              <span class="dashboard-icon">
                <i class="mdi mdi-account <%=  'exists' if user.curriculum_vitae.exists?  %>"></i>
              </span>
            </div>
            <div data-tr="<%= user.transcript_of_records.exists? %>" class="user-<%= user.id %>-id flex-table-cell flex-table-trans-rec">
              <span class="big-hidden">Trans. Rec: </span>
              <span class="dashboard-icon">
                <i class="mdi mdi-radiobox-marked <%=  'exists' if user.transcript_of_records.exists?  %>"></i>
              </span>
            </div>
            <div data-la="<%= user.learning_agreement.exists? %>" class="user-<%= user.id %>-id flex-table-cell flex-table-la">
              <span class="big-hidden">LA: </span>
              <span class="dashboard-icon"><i class="mdi mdi-school <%=  'exists' if user.learning_agreement.exists?  %>"></i>
              </span>
            </div>
            <div data-status="<%= user.progress_status %>" class="user-<%= user.id %>-id flex-table-cell flex-table-status">
              <span class="big-hidden">Status: </span>
              <% if (user.progress_status != "finished" and user.percentage.to_i != 100) %>
                <%= user.progress_status.humanize.capitalize %>
              <% else #elsif user.progress_status == "finished"  %>
                <%= form_for(user, url: set_user_status_path,  method: :post) do |f|%>
                  <%= f.select :progress_status, User.progress_statuses.map{|k,v| [k.humanize.capitalize, k]}, {}, {value: user.progress_status, class: 'form-control progressStatus', :disabled => !main,  onfocus: 'this.setAttribute("PrvSelectedValue",this.value);'}%>

                  <%= f.hidden_field :id, :value => user.id %>
                <% end %>
              <% #else %>
                <%#= user.progress_status.humanize.capitalize %>
              <% end %>
            </div>
            <div data-pctg="<%= user.percentage %>" class="user-<%= user.id %>-id flex-table-cell flex-table-pctg">
              <span class="big-hidden">Progress: </span>
              <%= "#{user.percentage}" %>
            </div>
          </div>
        <% end %>
        <div class="pagination"><%= will_paginate(users, :renderer => WillPaginate::ActionView::LinkRenderer) %>
        </div>
      </div>
      <%else%>
          <p class="no-results">No results</p>
      <%end%>
      </div>

    </div>