<div class="row">
	<span class="dashboard-section" id="motivation-letter-tab">
		<%unless admin === true or (!current_user.seeking_degree and name === :english_test_score ) or name === :spanish_test_score or name === :valid_insurance_policy %>
				<span class="red">*</span>
		<%else %>
				<span class="red">&nbsp; </span>
		<%end%>
		<label for=<%=name%>>
			<%=label%><i class="caret mdi mdi-menu-down no-reverse"></i>
		</label>
	</span>

	<%unless content.blank? %>
		<span class="check_mark"><i class="mdi mdi-check green"></i></span>
		<div class="collapsible">
			<% if name === :ni_passport %>
				<div class="ni_selection"><p><b>Type of document:</b>  <%= current_user["ni_type"] == "id" ? "Identity card" : "Passport"%></p></div>
			<%end %>
			<% if name === :learning_agreement %>
				<%= render partial: "users/learning_agreement_panel", :locals => {
						:admin => admin,
						:name => name,
						:current_user => current_user,
						:content => content,
						:file_name => file_name,
						:label => "Learning Agreement"}  %>
			<%end %>
			<div class="align-right">
				<div class="file-name"><i class="mdi mdi-file"></i> <span class=""> <%= link_to  file_name,  content.url %></span></div>
				<%unless admin === true  %>
					<% if current_user.progress_status.include? "during" %>
						<%= button_to "Delete", user_file_delete_url(:user => current_user.id, :attachment => name, :current_dm_version => current_user.current_during_la_version), :method=> :delete, :class => "custom-button" , :form_class =>   "deletion" %>
					<% else %>
					<%= button_to "Delete", user_file_delete_url(:id => current_user.id, :attachment => name), :method=> :delete, :class => "custom-button" , :form_class =>   "deletion" %>
					<% end%>
				<%end%>
				<a href="<%=  content.url%>" download="<%=  file_name %>"><button class="custom-button primary">Download</button></a>
			</div>
		</div>
	<% else %>
		<div class="collapsible">
			<% if name === :learning_agreement %>
				<%= render partial: "users/learning_agreement_panel", :locals => {
						:admin => admin,
						:name => name,
						:current_user => current_user.blank? ? nil: current_user,
						:content => content,
						:file_name => file_name,
						:label => "Learning Agreement"}  %>
			<%end %>
			<%unless admin === true  %>
				<% if current_user.progress_status.include? "during" %>
					<% current_dm = DuringLA.where(user_id: current_user.id, during_la_version: current_user.current_during_la_version).first %>
					<%= form_for :current_dm, url: user_file_upload_path, html: { multipart: true }, :method => :POST do |form| %>
						<div class="align-right">
							<div class="file-name">
								<%= form.file_field name %>
							</div>
							<%= form.submit "Upload", :class => "custom-button primary" %>
						</div>
					<% end %>
				<% else %>
					<%= form_for current_user, url: user_file_upload_path, html: { multipart: true }, :method => :POST do |form| %>
						<% if name === :ni_passport %>
							<div class="ni_selection">
								<p><b> Type of document:</b></p>
								<%= form.radio_button :ni_type, 'id', :checked => current_user["ni_type"] == "id", :required=>true%>
								<%= form.label :ni_type, 'Identity card', :value => :id %> &nbsp;
								<%= form.radio_button :ni_type, 'passport', :checked => current_user["ni_type"] == "passport",  :required=>true%>
								<%= form.label :ni_type, 'Passport',  :value => :passport %>
							</div>
						<% end %>
						<div class="align-right">
							<div class="file-name">
								<%= form.file_field name %>
							</div>
							<%= form.submit "Upload", :class => "custom-button primary" %>
						</div>
					<% end %>
				<% end %>
			<%else%>
				<p class="no-results">Not yet uploaded</p>
			<%end%>
			<p class="intro-paragraph  footer-paragraph s12">
                <% if current_user.role == "admin" && current_user.progress_status == "during_review_pending" && !current_dm.during_la_signed_student.blank?%>
                    <%= button_to "Accept During LA modifications", user_accept_during_la_modifications_path, data: {confirm: "This action will accept this student's LA modifications, are you sure?" }, :method=> :post, :class => "custom-button primary ", :form_class => "finish_app", params: {:user => current_user} %>
                <% end %>
			</p>
		</div>
	<% end %>
</div>