<div class="row">
	<span class="dashboard-section" id="motivation-letter-tab">
		<%unless admin === true  %>
			<span class="red">*</span>
		<%end%>
		<label for=<%=name%>>
			<%=label%><i class="caret mdi mdi-menu-down no-reverse"></i>
		</label>
	</span>
	<%unless content.blank? %>
		<span class="check_mark"><i class="mdi mdi-check green"></i></span>
		<div class="collapsible">
			<!--					<%#= form.radio_button :ni_type, 'id', :checked => true %>
					<%#= label :ni_type_id, 'Identity card' %>
					<%#= form.radio_button :ni_type, 'passport' %>
					<%#= label :ni_type_passport, 'Passport' %>-->
			<div class="align-right">
				<div class="file-name"><i class="mdi mdi-file"></i> <span class=""> <%= link_to  file_name,  content.url %></span></div>
				<%unless admin === true  %>
				<%= button_to "Delete", user_file_delete_url(:id => current_user.id, :attachment => name), :method=> :delete, :class => "custom-button" , :form_class =>   "deletion" %>	
				<%end%>
				<a href="<%=  content.url%>" download="<%=  file_name %>"><button class="custom-button primary">Download</button></a>
			</div>
		</div>
	<% else %>
		<div class="collapsible">
			<%unless admin === true  %>

				<%= form_for current_user, url: user_file_upload_path, html: { multipart: true , }, :method => :POST do |form| %>
<!--					<%#= form.radio_button :ni_type, 'id', :checked => true %>
					<%#= label :ni_type_id, 'Identity card' %>
					<%#= form.radio_button :ni_type, 'passport' %>
					<%#= label :ni_type_passport, 'Passport' %>-->
				<div class="align-right">
					<div class="file-name">
						<%= form.file_field name %>
					</div>
					<%= form.submit "Upload", :class => "custom-button primary" %>
				</div>
				<% end %>
			<%else%>
				<p class="no-results">Not yet uploaded</p>
			<%end%>	
		</div>
	<%end%>
</div>