<div class="align-right">
<button class="custom-button" id="admin-settings">Settings</button>
<%= button_to "Contact users", RELATIVE_URL + "/massive_email", :method=> :get, :class => "custom-button primary", :form_class =>"inline"%>
<%= button_to "Log out", destroy_user_session_path, :method=> :delete, :class => "custom-button ", :form_class =>"inline"%>
</div>
<%# like_email = "%#{ params[:email]}%"    %>
<% like_name = I18n.transliterate "%#{params[:name]}%"    %>
<% like_period = "%#{ params[:period]}%"    %>
<% like_university = I18n.transliterate "%#{params[:university]}%"    %>

<% users = User.where.not(role: "admin").where(archived: false).where("lower(unaccent(first_name)) LIKE ? or lower(unaccent(family_name)) LIKE ?",
 like_name.downcase,  like_name.downcase)
    .joins(:student_application_form)
    .merge( StudentApplicationForm.where("lower(academic_year) LIKE ? and lower(unaccent(inst_sending_name)) LIKE ?", like_period.downcase, like_university.downcase))
    .order("#{(params[:orderby].blank? ? :family_name : params[:orderby])} #{(params[:order].blank? or params[:order].downcase == "asc") ? "ASC" : "DESC"}")
    .paginate(:per_page => 30, :page => params[:page].blank? ? 1 : params[:page])
%>

<% archived_users = User.where.not(role: "admin").where(archived: true).where("lower(unaccent(first_name)) LIKE ? or lower(unaccent(family_name)) LIKE ?",
 like_name.downcase,  like_name.downcase)
    .joins(:student_application_form)
    .merge( StudentApplicationForm.where("lower(academic_year) LIKE ? and lower(unaccent(inst_sending_name)) LIKE ?", like_period.downcase, like_university.downcase))
    .order("#{(params[:orderby].blank? ? :family_name : params[:orderby])} #{(params[:order].blank? or params[:order].downcase == "asc") ? "ASC" : "DESC"}")
   .paginate(:per_page => 30, :page => params[:pageReg].blank? ? 1 : params[:pageReg])
%>

<% settings = ProjectSettings.first_or_create! %>

<% unless params[:progress_state].blank? %>
  <%users.reject!{|t| t.progress_status_before_type_cast != params[:progress_state].to_i}%>
<% end %>
<% nominees = NominatedUser.all%> <%#where("lower(email) LIKE ? ", like_email.downcase %>

<% admin_name = current_user.first_name.blank? ? "Administrator" : (current_user.first_name + " " + current_user.family_name) %>
<h1 class="title"> Hi, <%=admin_name%></h1>
<p class="intro-paragraph">Keep in mind that the deadline to receive application packages is <span class="red"><strong><%= settings.deadline_first_semeter %></strong></span> for the fall
  semester or academic year <%= settings.next_academic_year %>, and <span class="red"><strong><%= settings.deadline_second_semester %> </strong></span> for the second semester of this current academic year <%= settings.current_academic_year %>. For double degree students, the deadline is <span class="red"><strong><%= settings.deadline_double_degree %> </strong></span>. Please <u>check registered users, documents required in pdf, and application packages before the deadline</u> .</p>

<br/>
<div class="filters">
  <form action="<%= RELATIVE_URL %>/admin_dashboard" method="GET">
    <h2>Filters</h2>
    <div class="flex-filters">
      <div class="field filter">
        <label class="label">Period </label>
        <% period_options = JSON.parse(settings.academic_years) %>
        <select name="period" value="<%=params[:period]%>">
            <option value="" <%=params[:period].blank? ? "selected":""%>>Any</option>
          <% period_options.each do |period| %>
            <option <%= (period == params[:period]) ? "selected" : "" %>><%=period %></option>
          <% end %>
        </select>
      </div>
      <div class="field filter">
        <label class="label">University </label>
        <input name="university" placeholder="Find by name" value="<%=params[:university]%>"/>
      </div>
      <div class="field filter">
        <label class="label">Status </label>
        <%= select_tag "progress_state", options_for_select([["Any",""]] + User.progress_statuses.map{|k,v| [k.humanize.capitalize, v]}, params[:progress_state]) %>
        
      </div>
      <div class="field filter">
        <label class="label">Name </label>
        <input name="name" placeholder="Find by name" value="<%=params[:name]%>"/>
      </div>
<!--      <div class="field filter">
        <label class="label">Email </label>
        <input name="email" placeholder="Find by name" value="<%#=params[:email]%>"/>
      </div>-->

      <input type="submit" class="custom-button primary" value="Search"/>
      <input type="button" class="custom-button" onclick="location.href='<%= RELATIVE_URL %>/admin_dashboard';" value="Clear" />
    </div>
  </form>
</div>
</br>
<div class="admin-dashboard  dashboard-container">
  <div class="left-column">
    <button class="edit-picture "><i class="mdi mdi-camera"></i></button>
    <img id="actual-picture" class="picture" src="<%= current_user.photo.url == "/erasmus/images/placeholder.png" ? ActionController::Base.helpers.image_path('placeholder.png') : current_user.photo %>"/>
    <p><%=admin_name%></p>
  </div>
  <div class="right-column">
    <div class="row">
      <span class="dashboard-section"  >
        <label> 
        Nominated users
          <i class="caret mdi mdi-menu-down no-reverse"></i>
        </label>
        <div class="right">

          <%= form_tag(create_nominee_path, :method=> :post) do %>

          <div class="field nominee-form"  onclick="event.stopPropagation();">
            <%= email_field_tag 'email', nil, :placeholder =>  "Nominee e-mail", :class => "input-right" , :required => true %>
            <button type="submit" class="right-addon primary"><i class="mdi mdi-send"></i></button>
            <button type="button" id="multiple-nominees-button" class="custom-button primary"><i class="mdi mdi-account-multiple-plus
"></i></button>

          </div>

          <%end%>
        </div>
      </span>


      <div class="collapsible big <%= params[:nominees].blank? ? '':'show' %>">
      <% unless nominees.empty? %>
      <div class="flex-table nominee-table">
        <div class="table-header">
          <div class="flex-table-header flex-table-cell flex-table-email-nominee">Email</div>
          <div class="flex-table-header flex-table-cell flex-table-resend">Resend</div>
          <div class="flex-table-header flex-table-cell flex-table-erase">Delete</div>
        </div>
        <% nominees.each do |nominee| %>
        <div class="nominee-item">
          <div class="nominee-<%= nominee.id %>-id flex-table-cell flex-table-email-nominee">
            <span class="big-hidden">Email:</span><span class="email"><%= nominee.email %></span>
          </div>
          <div class="nominee-<%= nominee.id %>-id flex-table-cell flex-table-resend">
            <span class="dashboard-icon">

              <%= form_tag( resend_email_path(:id => nominee.id), :method=> :post) do %>
                <button title="Resend email" class="transparent-button action-button small-button"> <i class="mdi mdi-redo-variant dark"></i></button>
              <% end %>
            </span>
          </div>
          <div class="nominee-<%= nominee.id %>-id flex-table-cell flex-table-erase">
            <span class="dashboard-icon">
              <%= form_tag( delete_nominee_path(:id => nominee.id), :method=> :delete) do %>
                <button type="submit" title="Delete nominee" class="transparent-button action-button small-button"> <i class="mdi mdi-close dark"></i></button>
              <% end %>
            </span>
          </div>
        </div>
        <% end %>
      </div>
      <%else%>
        <p class="no-results">No results</p>
      <%end%>


      </div>
    </div>
   
  <%= render partial: "users/admin_dashboard_panel", :locals => {
      :title => "Registered users", :users => users, :main => true}  %>
  <%= render partial: "users/admin_dashboard_panel", :locals => {
      :title => "Archived users", :users => archived_users, :main => false}  %>      
  </div>
  <div id="edit-picture-dialog" > 
    <h2 class="title">Edit your picture</h2>
    <button class="transparent-button action-button right close" id="edit-picture-dialog-close"><i class="mdi mdi-close"></i></button>
    <div class="flex-container">
      <div class="image-container"><img id="edit-picture-dialog-picture" class="picture" src="<%= current_user.photo.url == "/erasmus/images/placeholder.png" ? ActionController::Base.helpers.image_path('placeholder.png') : current_user.photo%>"/></div>
      <canvas id="canvas"></canvas>
      <div class="image-edit-actions">
        <input class="input-file" type="file" name="photo2" accept="image/*"></input>

        <%= form_for current_user, url: "#{RELATIVE_URL}/user/file_upload_ajax", html: { multipart: true }, :method => :POST do |form| %>
        <br></br>
        <div class="messages-from-server">
          
        </div>
        <div class="align-right">
          <%= form.submit "Upload", :class => "custom-button" %>
          <img id="spinner" src="<%= RELATIVE_URL %>/assets/spinner.gif" class="hidden"/>
        </div>
        <% end %>
      </div>
    </div>

  </div>

<div id="several-nominee-dialog" > 
      <h2 class="title">Nominate several students</h2>
      <button class="transparent-button action-button right close" id="several-nominee-dialog-close"><i class="mdi mdi-close"></i></button>
        <div class="several-nominee-actions">
          <%= form_tag(create_nominee_multiple_path, :method=> :post) do %>
          <p class="intro-paragraph">Here you can type or paste the e-mail addresses of multiple students. They can be separated by a comma (,), a colon (;), or a new line (enter)</p>
            <textarea autoFocus name="email"></textarea>
          <div class="align-right">
            <button type="submit" class="custom-button primary">
                Send   <i class="mdi mdi-send"></i> 
            </button>
            <img id="spinner" src="<%= RELATIVE_URL %>/assets/spinner.gif" class="hidden"/>
          </div>
          <% end %>
      </div>

    </div>

  <br/><br/> </div>

<div id="admin-settings-dialog" >
  <h2 class="title">Settings</h2>
  <button class="transparent-button action-button right close" id="admin-settings-dialog-close"><i class="mdi mdi-close"></i></button>
  <%= form_for ProjectSettings.first_or_initialize, url: RELATIVE_URL + "/update_settings", :html => { :id => "id" }, :method => :post do |f| %>
    <div class="flex-container">
      <div class="flex-container-form-item"><%= f.label :current_academic_year, "Current academic year" %>
        <%= f.text_field :current_academic_year, autofocus: true, autocomplete: "current_academic_year"%><br/></div>
      <div class="flex-container-form-item"><%= f.label :next_academic_year, "Next academic year" %>
        <%= f.text_field :next_academic_year, autofocus: true, autocomplete: "next_academic_year"%><br/></div>
      <div class="flex-container-form-item"><%= f.label :deadline_first_semeter, "Deadline for first semester" %>
        <%= f.text_field :deadline_first_semeter, autofocus: true, autocomplete: "deadline_first_semeter"%><br/></div>
      <div class="flex-container-form-item"><%= f.label :deadline_second_semester, "Deadline for second semester" %>
        <%= f.text_field :deadline_second_semester, autofocus: true, autocomplete: "deadline_second_semester"%><br/></div>
      <div class="flex-container-form-item"><%= f.label :deadline_double_degree, "Deadline for degree seeking students" %>
        <%= f.text_field :deadline_double_degree, autofocus: true, autocomplete: "deadline_double_degree"%><br/></div>
      <div class="flex-container-form-item"><%= f.label :mobility_programmes, "Available mobility programmes" %>
        <% mob_prog = ProjectSettings.first_or_initialize["mobility_programmes"] %>
        <div class="multiple-item-container">
        <% if defined?(mob_prog) %>
          <%  JSON.parse(mob_prog).each do |prog|%>
              <div class="multiple-item-flex-container">
                <input type="text" name="mobility_programmes[]" value="<%=prog %>"/>
                <button type="button" id="" class="delete-settings-button transparent-button small-button">
                  <i class="mdi mdi-close"></i>
                </button>
              </div>
          <%end %>
         <%end %>
          <div class="multiple-item-flex-container" id="add_mobility_programmes_container">
            <button class="custom-button" id="add_mobility_programmes" type="button">ADD</button>
          </div>
        </div>
      </div>
      <div class="flex-container-form-item"><%= f.label :academic_years, "Available academic years" %>
        <% ac_years = ProjectSettings.first_or_initialize["academic_years"] %>
        <div class="multiple-item-container">
          <% if defined?(ac_years) %>
            <%  JSON.parse(ac_years).each do |year|%>
              <div class="multiple-item-flex-container">
                <input type="text" name="academic_years[]" value="<%=year %>"/>
                <button type="button" class="delete-settings-button transparent-button small-button">
                  <i class="mdi mdi-close"></i>
                </button>
              </div>
           <%end %>
          <%end %>
          <div class="multiple-item-flex-container" id="add_academic_years_container">
            <button class="custom-button" id="add_academic_years" type="button">ADD</button>
          </div>
        </div>
      </div>

    </div>
    <p class="align-right">
      <%= f.submit "Update", :class => "custom-button primary" %>
    </p>
<%end %>
</div>

<div id="csv-dialog" >
  <h2 class="title">Download CSV</h2>
  <button class="transparent-button action-button right close" id="csv-dialog-close"><i class="mdi mdi-close"></i></button>
  <form method="get" action="<%= RELATIVE_URL %>/generate_csv">
    <div class="flex-container-form-item floating" >
        <input type="checkbox" name="archived" />
        <label for="archived">Include archived users</label>
    </div>
    <div class="flex-container">
        <div class="flex-block-item">
          <h3 class="csv-category">Personal data</h3>
          <% csv_fields["personal"].each_with_index do |field, index| %>
            <div class="flex-container-form-item">
              <input type="checkbox" name="<%=field %>" checked/>
              <label for="<%=field %>"><%=csv_field_values["personal"][index] %></label>
            </div>
          <% end %>


        <h3 class="csv-category">Learning Agreement</h3>
        <% csv_fields["learning_agreement"].each_with_index do |field, index| %>
          <div class="flex-container-form-item">
            <input type="checkbox" name="<%=field %>"/>
            <label for="<%=field %>"><%=csv_field_values["learning_agreement"][index] %></label>
          </div>
        <% end %>
        </div>
      <div class="flex-block-item">
        <h3 class="csv-category">Application Form</h3>
          <% csv_fields["application_form"].each_with_index do |field, index| %>
            <div class="flex-container-form-item">
              <input type="checkbox" name="<%=field %>" />
              <label for="<%=field %>"><%=csv_field_values["application_form"][index] %></label>
            </div>
          <% end %>

      </div>
    </div>  
    <p class="align-right">
               
      <button type="button" class="custom-button" id="csv-dialog-select-all-button">Select All</button>
      <button type="button" class="custom-button hidden" id="csv-dialog-deselect-all-button">Deselect All</button>
      <button type="submit" class="custom-button primary">Download</button>
    </p>
    <!--    <a href="<%#= RELATIVE_URL %>/generate_csv" download="students.csv"><u>Download csv</u></a>-->
  </form>
</div>

<div id="acceptance-letter-dialog" >
  <h2 class="title">Generate acceptance letters</h2>
  <button class="transparent-button action-button right close" id="acceptance-letter-dialog-close"><i class="mdi mdi-close"></i></button>
    <form method="get" action="<%= RELATIVE_URL %>/generate_acceptance_letters">
    <div class="acceptance-letter-form">
      <div class="first">
        <h3 class="al-format">Format</h3>
        <input type="radio" name="downloadformat" value="pdf" checked/>
        <label for="downloadformat">PDF</label>
        <input type="radio" name="downloadformat" value="docx"/>
        <label for="downloadformat">DOCX</label>
        </div>
      <div class="last">
        <input id="logos-checkbox" type="checkbox" name="logos"/>
        <label for="logos">Include logos</label>
        </div>
      </div>
<p class="align-right">

  <button type="submit" class="custom-button primary">Download</button>
</p>
</form>
</div>



<div class="intro-paragraph right s12">
<!--  <a download href="<%#= "#{RELATIVE_URL}/generate_acceptance_letters" %>">-->
    <button id="acceptance-letter-dialog-button" class="custom-button primary">Generate Acceptance Letters</button>
<!--  </a>-->
  <button class="custom-button primary" id="csv-dialog-button">Download CSV</button>
</div>

 