<div class="align-right">
<%= button_to "Contact users", "/massive_email", :method=> :get, :class => "custom-button primary", :form_class =>"inline"%>
<%= button_to "Log out", destroy_user_session_path, :method=> :delete, :class => "custom-button ", :form_class =>"inline"%>
</div>
<%# like_email = "%#{ params[:email]}%"    %>
<% like_name = "%#{  I18n.transliterate(params[:name])}%"    %>
<% like_period = "%#{ params[:period]}%"    %>
<% like_university = "%#{ I18n.transliterate(params[:university])}%"    %>

<% users = User.where("lower(unaccent(first_name)) LIKE ? or lower(unaccent(family_name)) LIKE ?", 
 like_name.downcase,  like_name.downcase).joins(:student_application_form).merge( StudentApplicationForm.where("lower(academic_year) LIKE ? and lower(unaccent(inst_sending_name)) LIKE ?", like_period.downcase, like_university.downcase)).reject{|t| t.role == "admin"} %>
<% #binding.pry %>
<% unless params[:progress_state].blank? %>
  <%users.reject!{|t| t.progress_status_before_type_cast != params[:progress_state].to_i}%>
<% end %>
<% nominees = NominatedUser.all%> <%#where("lower(email) LIKE ? ", like_email.downcase %>

<% admin_name = current_user.first_name.blank? ? "Administrator" : (current_user.first_name + " " + current_user.family_name) %>
<h1 class="title"> Hi, <%=admin_name%></h1>
<p class="intro-paragraph">Keep in mind that the deadline to receive application packages is <span class="red"><strong>June, 1st</strong></span> for the fall
  semester or academic year 2018-19, and <span class="red"><strong>December, 1st</strong></span> for the second semester. Please <u>check registered users, documents required in pdf, and application packages before the
  deadline</u> .</p>
<br/>
<div class="filters">
  <form action="/admin_dashboard" method="GET">
    <h2>Filters</h2>
    <div class="flex-filters">
      <div class="field filter">
        <label class="label">Period </label>
        <!-- <input name="period" placeholder="Find by name" value="<%=params[:period]%>"/> -->
        <% period_options = [
          "2018-2019: Fall Semester",
          "2018-2019: Spring Semester",
          "2018-2019: Academic Year",
          "2019-2020: Fall Semester",
          "2019-2020: Spring Semester",
          "2019-2020: Academic Year",
        ] %>
        <select name="period" value="<%=params[:period]%>">
            <option value="" <%=params[:period].blank? ? "selected":""%>>Any</option>
          <% period_options.each do |period| %>
            <option <%= (period == params[:period]) ? "selected" : "" %>><%=period %></option>
          <% end %>
        </select>
      </div>
      <div class="field filter">
        <label class="label">University </label>
        <input name="university" placeholder="Find by name" value="<%=params[:university]%>"/>
      </div>
      <div class="field filter">
        <label class="label">Progress State </label>
        <%= select_tag "progress_state", options_for_select([["",""]] + User.progress_statuses.map{|k,v| [k.humanize.capitalize, v]}, params[:progress_state]) %>
        
      </div>
      <div class="field filter">
        <label class="label">Name </label>
        <input name="name" placeholder="Find by name" value="<%=params[:name]%>"/>
      </div>
<!--      <div class="field filter">
        <label class="label">Email </label>
        <input name="email" placeholder="Find by name" value="<%#=params[:email]%>"/>
      </div>-->

      <input type="submit" class="custom-button primary" value="Search"/>

    </div>
  </form>
</div>
</br>
<div class="admin-dashboard  dashboard-container">
  <div class="left-column">
    <button class="edit-picture "><i class="mdi mdi-camera"></i></button>
    <img id="actual-picture" class="picture" src="<%=current_user.photo %>"/>
    <p><%=admin_name%></p>
  </div>
  <div class="right-column">
    <div class="row">
      <span class="dashboard-section"  >
        <label> 
        Nominated users
          <i class="caret mdi mdi-menu-down no-reverse"></i>
        </label>
        <div class="right">

          <%= form_tag(create_nominee_path, :method=> :post) do %>

          <div class="field nominee-form"  onclick="event.stopPropagation();">
            <%= email_field_tag 'email', nil, :placeholder =>  "Nominee e-mail", :class => "input-right" , :required => true %>
            <button type="submit" class="right-addon primary"><i class="mdi mdi-send"></i></button>
            <button type="button" id="multiple-nominees-button" class="custom-button primary"><i class="mdi mdi-account-multiple-plus
"></i></button>

          </div>

          <%end%>
        </div>
      </span>


      <div class="collapsible big <%= params[:nominees].blank? ? '':'show' %>">
      <% unless nominees.empty? %>
      <div class="flex-table nominee-table">
        <div class="table-header">
          <div class="flex-table-header flex-table-cell flex-table-email-nominee">Email</div>
          <div class="flex-table-header flex-table-cell flex-table-resend">Resend</div>
          <div class="flex-table-header flex-table-cell flex-table-erase">Delete</div>
        </div>
        <% nominees.each do |nominee| %>
        <div class="nominee-item">
          <div class="nominee-<%= nominee.id %>-id flex-table-cell flex-table-email-nominee">
            <span class="big-hidden">Email:</span><span class="email"><%= nominee.email %></span>
          </div>
          <div class="nominee-<%= nominee.id %>-id flex-table-cell flex-table-resend">
            <span class="dashboard-icon">

              <%= form_tag( resend_email_path(:id => nominee.id), :method=> :post) do %>
                <button title="Resend email" class="transparent-button action-button small-button"> <i class="mdi mdi-redo-variant dark"></i></button>
              <% end %>
            </span>
          </div>
          <div class="nominee-<%= nominee.id %>-id flex-table-cell flex-table-erase">
            <span class="dashboard-icon">
              <%= form_tag( delete_nominee_path(:id => nominee.id), :method=> :delete) do %>
                <button type="submit" title="Delete nominee" class="transparent-button action-button small-button"> <i class="mdi mdi-close dark"></i></button>
              <% end %>
            </span>
          </div>
        </div>
        <% end %>
      </div>
      <%else%>
        <p class="no-results">No results</p>
      <%end%>


      </div>
    </div>
   
    <div class="row">
      <span class="dashboard-section"  >
             <label> 
             Registered users
               <i class="caret mdi mdi-menu-down no-reverse"></i>
             </label>
      </span>
      <div class="collapsible big <%= params[:nominees].blank? ? ' show':'' %>">
      <% unless users.empty? %>
      <div class="flex-table ">
        <div class="table-header">
          <div class="flex-table-header flex-table-cell flex-table-email">Student Name</div>
          <div class="flex-table-header flex-table-cell flex-table-univ">University</div>
          <div class="flex-table-header flex-table-cell flex-table-period">Period</div>
          <div class="flex-table-header flex-table-cell flex-table-app-form">Form</div>
          <div class="flex-table-header flex-table-cell flex-table-mot-letter">Letter</div>
          <div class="flex-table-header flex-table-cell flex-table-cv">CV</div>
          <div class="flex-table-header flex-table-cell flex-table-trans-rec">TR</div>
          <div class="flex-table-header flex-table-cell flex-table-la">LA</div>
          <div class="flex-table-header flex-table-cell flex-table-status">Status</div>
          <div class="flex-table-header flex-table-cell flex-table-pctg"> </div>
        </div>
        
        <% users.each do |user| %>
          <div class="registered-item">
            <div class="user-<%= user.id %>-id flex-table-cell flex-table-email">
              <span class="big-hidden">Email:</span><a href="/review_dashboard/<%=user.id%>"><span class="email"><%= user.family_name %>, <%= user.first_name %> </span></a>
            </div>
            <div class="user-<%= user.id %>-id flex-table-cell flex-table-univ">
              <span class="big-hidden">University: </span>
              <%= user.student_application_form.inst_sending_name %>
            </div>
            <div class="user-<%= user.id %>-id flex-table-cell flex-table-period">
              <span class="big-hidden">Period: </span>
              <%= user.student_application_form.academic_year %>
            </div>
            <div class="user-<%= user.id %>-id flex-table-cell flex-table-app-form">
              <span class="big-hidden">App Form: </span>
              <span class="dashboard-icon">
                <a href="/review_student_application_form/<%=user.id%>/1">
                  <% pctg = user.student_application_form.completed_percentage(!user.signed_student_application_form.blank?) %>
                <%="#{pctg}" %>
                  <i  class="mdi mdi-clipboard-text app-form <%= 'green' if pctg === '100%' %>"></i>
                </a>
              </span>
             <!--  <%= user.student_application_form.erasmus_code %> -->
            </div>
            <div class="user-<%= user.id %>-id flex-table-cell flex-table-mot-letter">
              <span class="big-hidden">Mot. Letter: </span>
              <span class="dashboard-icon">
                <i class="mdi mdi-email <%=  'exists' if user.motivation_letter.exists?  %>"></i>
              </span>
            </div>
            <div class="user-<%= user.id %>-id flex-table-cell flex-table-cv">
              <span class="big-hidden">CV: </span>
              <span class="dashboard-icon">
                <i class="mdi mdi-account <%=  'exists' if user.curriculum_vitae.exists?  %>"></i>
              </span>
            </div>
            <div class="user-<%= user.id %>-id flex-table-cell flex-table-trans-rec">
              <span class="big-hidden">Trans. Rec: </span>
              <span class="dashboard-icon">
                <i class="mdi mdi-radiobox-marked <%=  'exists' if user.transcript_of_records.exists?  %>"></i>
              </span>
            </div>
            <div class="user-<%= user.id %>-id flex-table-cell flex-table-la">
              <span class="big-hidden">LA: </span>
              <span class="dashboard-icon"><i class="mdi mdi-school <%=  'exists' if user.learning_agreement.exists?  %>"></i>
              </span>
            </div>
            <div class="user-<%= user.id %>-id flex-table-cell flex-table-status">
              <span class="big-hidden">Status: </span>
              <% if (user.progress_status != "finished" and user.percentage.to_i != 100) %>
                <%= user.progress_status.humanize.capitalize %>
              <% else #elsif user.progress_status == "finished"  %>
                <%= form_for(user, url: set_user_status_path,  method: :post) do |f|%>
                  <%= f.select :progress_status, User.progress_statuses.map{|k,v| [k.humanize.capitalize, k]}, {}, {value: user.progress_status, class: 'form-control', onchange: 'if(confirm("Are you sure you want to change the status for this user?")){this.form.submit();}'}%>

                  <%= f.hidden_field :id, :value => user.id %>
                <% end %>
              <% #else %>
                <%#= user.progress_status.humanize.capitalize %>
              <% end %>
            </div>
            <div class="user-<%= user.id %>-id flex-table-cell flex-table-pctg">
              <span class="big-hidden">Progress: </span>
              <%= "#{user.percentage}" %>
            </div>
          </div>
        <% end %><br/>
        
      </div>
      <%else%>
          <p class="no-results">No results</p>
      <%end%>
    </div>
    </div>
  </div>
  <div id="edit-picture-dialog" > 
    <h2 class="title">Edit your picture</h2>
    <button class="transparent-button action-button right close" id="edit-picture-dialog-close"><i class="mdi mdi-close"></i></button>
    <div class="flex-container">
      <div class="image-container"><img id="edit-picture-dialog-picture" class="picture" src="<%=current_user.photo %>"/></div>
      <canvas id="canvas"></canvas>
      <div class="image-edit-actions">
        <input class="input-file" type="file" name="photo2" accept="image/*"></input>
        <%= form_for current_user, url: "/user/file_upload_ajax", html: { multipart: true }, :method => :POST do |form| %>
        <br></br>
        <div class="messages-from-server">
          
        </div>
        <div class="align-right">
          <%= form.submit "Upload", :class => "custom-button" %>
          <img id="spinner" src="/assets/spinner.gif" class="hidden"/>
        </div>
        <% end %>
      </div>
    </div>

  </div>

<div id="several-nominee-dialog" > 
      <h2 class="title">Nominate several students</h2>
      <button class="transparent-button action-button right close" id="several-nominee-dialog-close"><i class="mdi mdi-close"></i></button>
        <div class="several-nominee-actions">
          <%= form_tag(create_nominee_multiple_path, :method=> :post) do %>
          <p class="intro-paragraph">Here you can type or paste the e-mail addresses of multiple students. They can be separated by a comma (,), a colon (;), or a new line (enter)</p>
            <textarea autoFocus name="email"></textarea>
          <div class="align-right">
            <button type="submit" class="custom-button primary">
                Send   <i class="mdi mdi-send"></i> 
            </button>
            <img id="spinner" src="/assets/spinner.gif" class="hidden"/>
          </div>
          <% end %>
      </div>

    </div>

  <br/><br/>