<% like_email = "%#{ params[:email]}%"    %>
<% like_name = "%#{ params[:name]}%"    %>
<% users = User.where("lower(email) LIKE ? and lower(first_name) LIKE ?", like_email.downcase, like_name.downcase).reject{|t| t.role == "admin"} %>
<% nominees = NominatedUser.where("lower(email) LIKE ? ", like_email.downcase)%>

<%= button_to "Log out", destroy_user_session_path, :method=> :delete, :class => "custom-button right"%>
<h1 class="title"> Hi, Admin</h1>
<p class="intro-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<br/>
<div class="filters">
  <form action="/admin_dashboard" method="GET">
      <input type="submit" class="custom-button right" value="Search"></input>
  <h3>Filters</h3>
  <div class="flex-filters">
    <div class="field filter"> 
      <label class="label">E-mail </label>
      <input name="email" placeholder="Find by e-mail" value="<%=params[:email]%>"></input>
    </div>
    <div class="field filter"> 
      <label class="label">Name </label>
      <input name="name" placeholder="Find by name" value="<%=params[:name]%>"></input>
    </div>
    <div class="field filter"></div> 
  </div>
  </form>
</div>
</br>
<div class="admin-dashboard  dashboard-container">
  <div class="left-column">
    <img class="picture" src="<%=current_user.photo %>"/>
    <p>Administrator</p>
  </div>
  <div class="right-column">
    <div class="row">

      <span class="dashboard-section">Nominated users</span>
      <div class="right">

        <%= form_tag(create_nominee_path, :method=> :post) do %>

        <div class="field nominee-form">
          <%= email_field_tag 'email', nil, :placeholder =>  "Nominee e-mail", :class => "input-right"  %>
          <button type="submit" class="right-addon"><i class="mdi mdi-send"></i></button>
        </div>

        <%end%>
      </div>
      <br/><br/>
      <% unless nominees.empty? %>
      <div class="flex-table nominee-table">
        <div class="flex-table-header flex-table-cell flex-table-email-nominee">Email</div>
        <div class="flex-table-header flex-table-cell flex-table-resend">Resend</div>
        <div class="flex-table-header flex-table-cell flex-table-erase">Delete</div>
        <% nominees.each do |nominee| %>
        <div class="nominee-<%= nominee.id %>-id flex-table-cell flex-table-email-nominee">
          <span class="big-hidden">Email:</span><span class="email"><%= nominee.email %></span>
        </div>
        <div class="nominee-<%= nominee.id %>-id flex-table-cell flex-table-resend">
          <span class="dashboard-icon">

            <%= form_tag( resend_email_path(:id => nominee.id), :method=> :post) do %>
              <button title="Resend email" class="transparent-button action-button"> <i class="mdi mdi-redo-variant dark"></i></button>
            <% end %>
          </span>
        </div>
        <div class="nominee-<%= nominee.id %>-id flex-table-cell flex-table-erase">
          <span class="dashboard-icon">
            <%= form_tag( delete_nominee_path(:id => nominee.id), :method=> :delete) do %>
              <button type="submit" title="Delete nominee" class="transparent-button action-button"> <i class="mdi mdi-close dark"></i></button>
            <% end %>
          </span>
        </div>
        <% end %>
      </div>
      <%else%>
        <p class="no-results">No results</p>
      <%end%>
    </div>
    <br/><br/>
    <div class="row">
      <span class="dashboard-section">Registered users</span>
      <br/><br/>
      <% unless users.empty? %>
      <div class="flex-table ">
        <div class="flex-table-header flex-table-cell flex-table-email">Email</div>
        <div class="flex-table-header flex-table-cell flex-table-univ">University</div>
        <div class="flex-table-header flex-table-cell flex-table-period">Period</div>
        <div class="flex-table-header flex-table-cell flex-table-app-form">App Form</div>
        <div class="flex-table-header flex-table-cell flex-table-mot-letter">Mot. Letter</div>
        <div class="flex-table-header flex-table-cell flex-table-cv">CV</div>
        <div class="flex-table-header flex-table-cell flex-table-trans-rec">Trans. Rec</div>
        <div class="flex-table-header flex-table-cell flex-table-la">LA</div>
        <div class="flex-table-header flex-table-cell flex-table-status">Status</div>
        <div class="flex-table-header flex-table-cell flex-table-pctg"> </div>
        
        <% users.each do |user| %>
        <div class="user-<%= user.id %>-id flex-table-cell flex-table-email">
          <span class="big-hidden">Email:</span><span class="email"><%= user.email %></span>
        </div>
        <div class="user-<%= user.id %>-id flex-table-cell flex-table-univ">
          <span class="big-hidden">University: </span>
          <%= user.student_application_form.inst_sending_name %>
        </div>
        <div class="user-<%= user.id %>-id flex-table-cell flex-table-period">
          <span class="big-hidden">Period: </span>
          <%= user.student_application_form.academic_year %>
        </div>
        <div class="user-<%= user.id %>-id flex-table-cell flex-table-app-form">
          <span class="big-hidden">App Form: </span>
          <span class="dashboard-icon">
            <i class="mdi mdi-clipboard-text app-form"></i>
          </span>
          <%= user.student_application_form.erasmus_code %>
        </div>
        <div class="user-<%= user.id %>-id flex-table-cell flex-table-mot-letter">
          <span class="big-hidden">Mot. Letter: </span>
          <span class="dashboard-icon">
            <i class="mdi mdi-email <%=  'exists' if user.motivation_letter.exists?  %>"></i>
          </span>
        </div>
        <div class="user-<%= user.id %>-id flex-table-cell flex-table-cv">
          <span class="big-hidden">CV: </span>
          <span class="dashboard-icon">
            <i class="mdi mdi-account <%=  'exists' if user.curriculum_vitae.exists?  %>"></i>
          </span>
        </div>
        <div class="user-<%= user.id %>-id flex-table-cell flex-table-trans-rec">
          <span class="big-hidden">Trans. Rec: </span>
          <span class="dashboard-icon">
            <i class="mdi mdi-radiobox-marked <%=  'exists' if user.transcript_of_records.exists?  %>"></i>
          </span>
        </div>
        <div class="user-<%= user.id %>-id flex-table-cell flex-table-la">
          <span class="big-hidden">LA: </span>
          <span class="dashboard-icon"><i class="mdi mdi-school <%=  'exists' if user.learning_agreement.exists?  %>"></i>
          </span>
        </div>
        <div class="user-<%= user.id %>-id flex-table-cell flex-table-status">
          <span class="big-hidden">Status: </span>
          <%= user.status %>
        </div>
        <div class="user-<%= user.id %>-id flex-table-cell flex-table-pctg">
          <span class="big-hidden">Progress: </span>
          <%= user.percentage %>
        </div>
        <% end %><br/>
        
      </div>
      <%else%>
          <p class="no-results">No results</p>
      <%end%>
    </div>
  </div>

  <br/><br/>