<% unless User.exists?(id: params[:user], role: "user")  %>
	<div class="align-right">
		<%= button_to "Dashboard", admin_dashboard_path, :method=> :get, :class => "custom-button primary",:form_class =>"inline"%>
		<%= button_to "Log out", destroy_user_session_path, :method=> :delete, :class => "custom-button", :form_class =>"inline"%>
	</div>
	<br/><br/>
	<p class="no-results">The selected user does not exist</p>
<%else%>
	<% admin = current_user %>
	<% current_user = User.find(params[:user]) %>
	<div class="align-right">
		<%= button_to "User Contact", "mailto:"+current_user.email , :method=> :get, :class => "custom-button primary",:form_class =>"inline"%>
		<%= button_to "Dashboard", admin_dashboard_path, :method=> :get, :class => "custom-button primary",:form_class =>"inline"%>
		<%= button_to "Log out", destroy_user_session_path, :method=> :delete, :class => "custom-button", :form_class =>"inline"%>
	</div>

    <div class="align-center">
        <% if current_user.progress_status.include? "after"%>
            <a href="<%="#{RELATIVE_URL}/review_dashboard/#{params[:user]}/before"%>"><button class='custom-button primary'>Before the Mobility</button></a>
            <a href="<%="#{RELATIVE_URL}/review_dashboard/#{params[:user]}/during"%>"><button class='custom-button primary'>During the Mobility</button></a>
            <a href="<%="#{RELATIVE_URL}/review_dashboard/#{params[:user]}/after"%>"><button class='custom-button primary'>After the Mobility</button></a>
        <% elsif current_user.progress_status.include? "during"%>
            <a href="<%="#{RELATIVE_URL}/review_dashboard/#{params[:user]}/before"%>"><button class='custom-button primary'>Before the Mobility</button></a>
            <a href="<%="#{RELATIVE_URL}/review_dashboard/#{params[:user]}/during"%>"><button class='custom-button primary'>During the Mobility</button></a>
            <a href="<%="#{RELATIVE_URL}/review_dashboard/#{params[:user]}/after"%>"><button class='custom-button primary' disabled>After the Mobility</button></a>
        <% else%>
            <a href="<%="#{RELATIVE_URL}/review_dashboard/#{params[:user]}/before"%>"><button class='custom-button primary'>Before the Mobility</button></a>
            <a href="<%="#{RELATIVE_URL}/review_dashboard/#{params[:user]}/during"%>"><button class='custom-button primary' disabled>During the Mobility</button></a>
            <a href="<%="#{RELATIVE_URL}/review_dashboard/#{params[:user]}/after"%>"><button class='custom-button primary' disabled>After the Mobility</button></a>
        <% end %>
    </div>
	<br>
	<h1 class="title"> You are reviewing <%= current_user.first_name %>'s application</h1>
	<div class="align-center"><h1 class="title"> After the Mobility </h1></div>

    <div class="dashboard-container">
		<div class="left-column">
			<div class="picture-container">
				<img class="picture tiny" src="<%=admin.photo.url == "/erasmus/images/placeholder.png" ? ActionController::Base.helpers.image_path('placeholder.png') : admin.photo %>"/>
				<p><%= admin.first_name.blank? ? "Administrator" : (admin.first_name + " " + admin.family_name) %></p>
			</div>
			<div class="picture-container">
				<img class="picture" src="<%= current_user.photo.url == "/erasmus/images/placeholder.png" ? ActionController::Base.helpers.image_path('placeholder.png') : current_user.photo %>"/>
				<p><%= current_user.first_name %> <%= current_user.family_name %></p>
			</div>
		</div>
        <div class="right-column">
            <%= render partial: "users/review_dashboard_panel", :locals => {
                                :admin => true,
                                :user => current_user,
                                :name => :tor,
                                :content => current_user.tor,
                                :file_name => current_user.tor_file_name,
                                :label => "Transcript of Records" } %>
            <%= render partial: "users/review_dashboard_panel", :locals => {
                                :admin => true,
                                :user => current_user,
                                :name => :attendance_certificate,
                                :content => current_user.attendance_certificate,
                                :file_name => current_user.attendance_certificate_file_name,
                                :label => "Attendance Certificate" } %>
        <% if current_user.role == "user" && current_user.progress_status == "after_pending" && !current_user.tor.blank?%>
                    <%= button_to "Notify student", user_admin_notify_uploaded_after_path, data: {confirm: "This action will send an email to notify the student, are you sure?" }, :method=> :post, :class => "custom-button primary", :form_class => "finish_app", params: {:user => current_user, :dm_version => current_user.current_during_la_version} %>
                <% end %>
        <p class="intro-paragraph  footer-paragraph s12">
            <button class="custom-button" id="delete-user">Delete user</button>
            <br/>
            <span class="registered_at"><b>Registered</b>: <%=current_user.created_at.in_time_zone("Madrid").strftime("%d-%m-%Y %r") %>. &nbsp; &nbsp;  &nbsp; <b>Last updated:</b>  <%=current_user.updated_at.in_time_zone("Madrid").strftime("%d-%m-%Y %r") %></span>
        </p>
        </div>
<% end %>

<div id="delete-user-dialog" >
	<h2 class="title">Delete user</h2>
	<button class="transparent-button action-button right close" id="delete-user-dialog-close"><i class="mdi mdi-close"></i></button>
	<div class="flex-container">
		<% if current_user.archived %>
			<p>Would you like to restore this user or delete it permanently?</p>
		<% else %>
			<p>Would you like to archive this user in order to keep the data or delete it permanently?</p>
		<% end %>
        <div class="align-right">
			<%= button_to current_user.archived ? "Restore user":"Archive user", "#{RELATIVE_URL}/users/archive/#{current_user.id}", :method=> :put, :class => "custom-button", :form_class =>"inline", params: {'archived' => !current_user.archived}%>
			<%= button_to "Delete permanently", "#{RELATIVE_URL}/users/delete/#{current_user.id}", :method=> :delete,  data: { confirm: "This action is permanent. Are you sure you want to delete this user?" }, :class => "custom-button red-button", :form_class =>"inline"%>
		</div>
	</div>
</div>