<h2 class="form-subtitle">Work Experience related to current study (if relevant)</h2>
<%if review%>
<h3><%=name%></h3>
<%end%>
<!--<p class="intro-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->

<div class="edit_student_application_flex work_experience">
<div class="block">
<%= f.check_box :no_work_experience, autofocus: true, autocomplete: "no_work_experience", disabled: review, id: "no_work_experience_checkbox" %>
<%= f.label :no_work_experience %><br /><br/>
</div>
<div class="<%=   sap.no_work_experience ? "other-work hidden" : "other-work" %>" style="">

<% unless review %>
	<button class="custom-button primary" id="add-work" type="button">Add a new work experience</button>
	<br/><br/>
<%end%>
<div class="work-list">
<% if defined?(@sap.work_experiences) %>
	<% @sap.work_experiences.each_with_index do |work,index|%>
	<div class="work">
		<div class="field field50">
			<div class="flex-container">
				<label for="work_kind">Type of work</label>
				<input type="text" name="work_kind" class="work-input" <%=review ? "disabled" : ""%> value="<%=work.work_kind%>"/>
			</div>
		</div>
		<div class="field field50">
			<div class="flex-container">
				<label for="firm_organisation">Organisation</label>
				<input type="text" name="firm_organisation" class="work-input" <%=review ? "disabled" : ""%> value="<%=work.firm_organisation%>"/>
			</div>
		</div>
		<div class="field ">
			<div class="flex-container">
				<label for="dates">From</label>
				<input type="date" name="from" class="work-input" <%=review ? "disabled" : ""%> value="<%=work.from%>"/>

			</div>
		</div>
		<div class="field">
			<div class="flex-container">
				<label for="dates">To</label>
				<input type="date" name="to" class="work-input" <%=review ? "disabled" : ""%> value="<%=work.to%>"/>

			</div>
		</div>

		<div class="field field50">
			<div class="flex-container">
				<label for="dates">Country</label>
				<select   name="country" class="work-input" <%=review ? "disabled" : ""%> value="<%=work.country%>">
					<% for country in country_list %>
						<option <%= work.country == country ? "selected" : "" %>><%= country%></option>
					<% end %>
				</select>
			</div>
		</div>
		<button type="button" class="delete-work-button transparent-button small-button">
			<i class="mdi mdi-close"></i></button>
		</div>
	<% end %>
<% else %>
	<!-- <p class="no-results" >No languages defined</p> -->
<% end %>
	</div>
	</div>
</div>
<div id="hidden-countries" style="display:none;">

	 <%=country_list%>
</div>
<script>
	window.options = JSON.parse($('#hidden-countries').text());
</script>