<h2 class="form-subtitle">Work Experience related to current study (if relevant)</h2>
<%if review%>
<h3><%=name%></h3>
<%end%>
<p class="intro-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<div class="edit_student_application_flex">

<div class="other-work" style="display:block; width:100%;">
<% unless review %>
	<button class="custom-button" id="add-work" type="button">Add a new work experience</button>
<%end%>
<div class="work-list">
<% if defined?(work_experiences) %>
	<% work_experiences.each_with_index do |work,index|%>
	<div class="work">
		<div class="field">
			<div class="flex-container">
				<label for="type">Position</label>
				<input type="text" name="type" class="work-input" <%=review ? "disabled" : ""%> value="<%=work.value%>"/>
			</div>
		</div>
		<div class="field">
			<div class="flex-container">
				<input type="text" name="firm_organisation" class="work-input" <%=review ? "disabled" : ""%> value="<%=work.currently_studying%>"/>
				<label for="firm_organisation">Organisation</label>
			</div>
		</div>
		<div class="field">
			<div class="flex-container">
				<input type="text" name="dates" class="work-input" <%=review ? "disabled" : ""%> value="<%=work.able_follow_lectures%>"/>
				<label for="dates">Dates</label>

			</div>
		</div>
		<div class="field">
			<div class="flex-container">
				<input type="text" name="country" class="language-input" <%=review ? "disabled" : ""%> value="<%=work.value%>"/>
				<label for="country">Country</label>

			</div>
		</div>
		<button type="button" class="delete-work-button transparent-button action-button">
			<i class="mdi mdi-close"></i></button>
		</div>
	<% end %>
<% else %>
	<!-- <p class="no-results" >No languages defined</p> -->
<% end %>
	</div>
	</div>
</div>
	<% unless review %>
	<div class="actions">
	  <%= f.submit "Save current page", label: false, :class => "custom-button", disabled: review %>
	</div>
	<%end%>
