<h2 class="form-subtitle">Language Competence</h2>
<%if review%>
<h3><%=name%></h3>
<%end%>
<p class="intro-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<div class="edit_student_application_flex">

	<div class="field">
	  <div class="flex-container">
	    <%= f.label :mother_tongue %><br />
	    <%= f.text_field :mother_tongue, autofocus: true, autocomplete: "mother_tongue", disabled: review %>
	  </div>
	</div>

	<div class="field">
	  <div class="flex-container">
	    <%= f.label :language_instruction %><br />
	    <%= f.text_field :language_instruction, autofocus: true, autocomplete: "language_instruction", disabled: review %>
	  </div>
	</div>
	<br/>
	<br/>
	<h2 class="block">Other languages</h2>
	<div class="other-languages" style="display:block; width:100%;">
	<% unless review %>
		<button class="custom-button" id="add-lang" type="button">Add a new language</button>
	<%end%>
	<div class="lang-list">
	<% if defined?(@sap.languages) %>
		<% @sap.languages.each_with_index do |language,index|%>
		<div class="lang">
			<div class="field">
				<div class="flex-container">
					<label for="name">Language</label>
					<input type="text" name="name" class="language-input" <%=review ? "disabled" : ""%> value="<%=language.name%>"/>
				</div>
			</div>
			<div class="field">
				<div class="flex-container">
					<input type="checkbox" name="currently_studying" class="language-input" <%=review ? "disabled" : ""%> <%=language.currently_studying ? "checked":"" %> />
					<label class="checkBox" for="currently_studying">Currently Studying</label>
				</div>
			</div>
			<div class="field">
				<div class="flex-container">
					<input type="checkbox" name="able_follow_lectures" class="language-input" <%=review ? "disabled" : ""%> <%=language.able_follow_lectures ? "checked":"" %>/>
					<label class="checkBox" for="able_follow_lectures">Able to follow lectures</label>
				</div>
			</div>
			<div class="field">
				<div class="flex-container">
					<input type="checkbox" name="able_follow_lectures_extra_preparation" class="language-input" <%=review ? "disabled" : ""%> <%=language.able_follow_lectures_extra_preparation ? "checked":"" %> />
					<label class="checkBox" for="able_follow_lectures_extra_preparation">Able to follow lectures with extra preparation</label>
				</div>
			</div>
			<button type="button" class="delete-lang-button transparent-button small-button">
				<i class="mdi mdi-close"></i></button>
			</div>
		<% end %>
	<% else %>
		<!-- <p class="no-results" >No languages defined</p> -->
	<% end %>
	</div>
	</div>
</div>
 
