<h2 class="form-subtitle">Previous and current studies</h2>
<%if review%>
<h3><%=name%></h3>
<%end%>
 
<div class="edit_student_application_flex studies">
<div class="field field100">
  <div class="flex-container">
    <%= f.label :current_diploma_degree, "Currently studying Diploma/Degree" %><br />
    <%= f.text_field :current_diploma_degree, autofocus: true, autocomplete: "current_diploma_degree", disabled: review %>
  </div>
</div>

<div class="field">
  <div class="flex-container">
    <%= f.label :year_attended %><br />
    <%= f.text_field :year_attended, autofocus: true, autocomplete: "year_attended", disabled: review %>
  </div>
</div>

<div class="field field50">
  <div class="flex-container">
    <%= f.label :specialization_area, "Area of specialization" %><br />
    <%= f.text_field :specialization_area, autofocus: true, autocomplete: "specialization_area", disabled: review %>
  </div>
</div>
<div class="field marginleft45">
  <div class="flex-container">
    <%= f.check_box :already_study_abroad, autofocus: true, autocomplete: "already_study_abroad", disabled: review ,:id => "already_study_abroad"%>
    <%= f.label :already_study_abroad, "Have you studied abroad before?",class: "checkBox" %><br />
  </div>
</div>
<div class="field field50 already_study_abroad_dependent <%= @sap.already_study_abroad ? "":"hidden" %>">
  <div class="flex-container">
    <%= f.label :where_study_abroad , "Location"%><br />
    <%= f.text_field :where_study_abroad, autofocus: true, autocomplete: "where_study_abroad", disabled: review %>
  </div>
</div>
<div class="field field50 already_study_abroad_dependent <%= @sap.already_study_abroad ? "":"hidden" %>">
  <div class="flex-container">
    <%= f.label :where_institution_abroad, "Institution" %><br />
    <%= f.text_field :where_institution_abroad, autofocus: true, autocomplete: "where_institution_abroad", disabled: review %>
  </div>
</div>
</div>
 