<h2 class="form-subtitle">Study year</h2>
<p class="intro-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<%= form_for@sap, url: student_application_form_path, :method => :post do |f| %>

<div class="field">
  <%= f.label :academic_year %><br />
  <%= f.select :academic_year, [
    '2018-2019: Fall Semester',
    '2018-2019: Spring Semester',
    '2018-2019: Academic Year',
    '2019-2020: Fall Semester',
    '2019-2020: Spring Semester',
    '2019-2020: Academic Year',
    ] %>
</div>

<div class="field">
  <%= f.label :programme %><br />
  <%= f.select :programme, [
    'Eramus+ Studies',
    'Eramus+ Placement',
    'Magalhães',
    'Bilateral Agreement',
    'Visiting Student',
    'SICUE/SENECA',
    ] %>
</div>

<div class="field">
  <%= f.label :field_of_study %><br />
  <%= f.text_field :field_of_study, autofocus: true, autocomplete: "field_of_study", :value => "Telecommunication Engineering" %>
</div>
<div class="actions">
    <%= f.submit "Save current page", label: false, :class => "custom-button" %>
</div>
<%end%>