
<div class="student-application-form">
  <% from_ball = !params[:from_ball].nil?%>
  <%= form_for(@user, url: student_application_form_personal_data_path(:from_ball => from_ball), method: :post) do |f| %>
    <% if params.has_key?(:from_ball) %>
    <div class="align-right">
      <a href="<%=user_dashboard_path%>" class="back-save-dashboard">
        <button class='custom-button right'>Close</button>
      </a>
      <a href="<%=user_dashboard_path%>" class="back-save-dashboard">
        <button class='custom-button primary right'>Save & Close</button>
      </a>
    </div>
    <% end %>
   <h1>Student Application Form <span class="fake-arrow" > > </span>  </h1><h2 class="form-subtitle">Personal data</h2></br>
    <%= devise_error_messages! %>
    <div class="edit_student_application_flex personal_data">
    <div class="field field50">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autofocus: true, autocomplete: "given-name", class: "width100" %>
    </div>

    <div class="field field50">
      <%= f.label :family_name %><br />
      <%= f.text_field :family_name, autofocus: true, autocomplete: "family-name", class: "width100" %>
    </div>

    <div class="field">
      <%= f.label :birth_date %><br />
      <%= f.date_field :birth_date, autofocus: true, autocomplete: "bday" %>
    </div>

      <div class="field">
        <%= f.label :born_place %><br />
        <%= f.text_field :born_place, autofocus: true, autocomplete: "bornplace" %>
      </div>


    <div class="field">
      <%= f.label :nationality %><br />
      <%= f.select :nationality, country_list, autocomplete: "country-name" %>
    </div>
    <div class="field">
        <%= f.label :sex %><br />
        <%= f.select :sex, [
            'Male',
            'Female',
            'Other'
        ] , autocomplete: "gender-identity"%>
    </div>
    <div class="field field100">
      <%= f.label :permanent_adress %><br />
      <%= f.text_field :permanent_adress, autofocus: true, autocomplete: "street-address" %>
    </div>

    <div class="field field50">
      <%= f.label :phone_number %><br />
      <%= f.telephone_field :phone_number, autofocus: true, autocomplete: "tel", class: "width100" %>
    </div>

    <div class="field field50">
      <%= f.label :email %><br />
      <%= f.email_field :email, value: @user.email, autofocus: true, autocomplete: "email", disabled: true, class: "width100"  %>
    </div>
    </div>
   <div class="action-buttons">
    <div class="progress-bar">
        <div class="progress-line">
        </div>
        <div class="progress-balls">
          <% final_steps_array = @user.student_application_form.completed_steps_array  %>
          <a href="/student_application_form/personal_data_step"><span class='progress-ball current-step done-step'></span></a>
        <% for i in 1..6 do %>
            <% classBall = final_steps_array[i-1] ? "done-step" :"todo-step " %>
            <% if from_ball == true %>
              <%= link_to "<span class='progress-ball future-step #{classBall}'></span>".html_safe, student_application_form_path + "/#{i}?from_ball=true"%>
            <% else %>
              <%= link_to "<span class='progress-ball future-step #{classBall}'></span>".html_safe, student_application_form_path + "/#{i}"%>
            <% end %>
        <% end %>
        </div>
    </div>
    <div class="progress-buttons">
        <%= f.submit "Next >", :class => "custom-button" %>
    </div>

  </div>
  <% end %>
</div>
<%#= render "devise/shared/links" %>
