<div class="align-right">
<a href="<%="#{RELATIVE_URL}/review_dashboard/#{params[:user]}"%>" class="back-to-dashboard"><button class='custom-button primary'>Close</button></a>

</div>
<div class="student-application-form">
 <% user = User.find(params[:user]) %> 
  <%= form_for(user, url: student_application_form_personal_data_path, method: :post) do |f| %>
   <h1>Student Application Form <span class="fake-arrow" > > </span>  </h1><h2 class="form-subtitle">Personal data</h2></br>
    <div class="edit_student_application_flex personal_data">
      <div class="field field50">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "given-name", disabled: true, class: "width100" %>
      </div>

      <div class="field field50">
        <%= f.label :family_name %><br />
        <%= f.text_field :family_name, autofocus: true, autocomplete: "family-name", disabled: true, class: "width100" %>
      </div>

      <div class="field">
        <%= f.label :birth_date %><br />
        <%= f.date_field :birth_date, autofocus: true, autocomplete: "bday", disabled: true %>
      </div>

      <div class="field">
        <%= f.label :born_place %><br />
        <%= f.text_field :born_place, autofocus: true, autocomplete: "bornplace", disabled: true %>
      </div>

      <div class="field">
        <%= f.label :nationality %><br />
        <%= f.select :nationality, country_list, {}, {disabled: true} %>
      </div>
      <div class="field">
      <%= f.label :sex %><br />
      <%= f.select :sex, [
        'Male',
        'Female',
        'Other'
        ] , {}, {disabled: true}%>
      </div>

      <div class="field field100">
        <%= f.label :permanent_adress %><br />
        <%= f.text_field :permanent_adress, autofocus: true, autocomplete: "street-address", disabled: true %>
      </div>


      <div class="field field50">
        <%= f.label :phone_number %><br />
        <%= f.telephone_field :phone_number, autofocus: true, autocomplete: "tel", disabled: true, class: "width100" %>
      </div>


      <div class="field field50">
        <%= f.label :email %><br />
        <%= f.email_field :email, value: user.email, autofocus: true, autocomplete: "email", disabled: true , class: "width100" %>
      </div>
    </div>
        <% final_steps_array = user.student_application_form.completed_steps_array  %>
        <div class="container actions">
            <div class="progress-bar">
                <div class="progress-line">
                </div>
                <div class="progress-balls">
                  <a href=<%="#{RELATIVE_URL}/review_student_application_form/#{params[:user]}/personal_data_step"%>><span class='progress-ball current-step done-step'></span></a>
                <% for i in 1..6 do %>
                    <% classBall = final_steps_array[i-1] ? "done-step" :"todo-step " %>
                        <%= link_to "<span class='progress-ball future-step #{classBall}'></span>".html_safe, "#{RELATIVE_URL}/review_student_application_form/#{params[:user]}" + "/#{i}"%>
                <% end %>
                </div>
            </div>
        <div class="progress-buttons">
            <%if params[:step].to_i - 1 > 0 %>
                <%= link_to "<button  class='custom-button'> < Back</button>".html_safe, "#{RELATIVE_URL}/review_student_application_form/#{params[:user]}" + "/#{params[:step].to_i - 1}"%>
            <%end%>
            <%if params[:step].to_i + 1 < 7 %>
                <%= link_to "<button  class='custom-button'> Next > </button>".html_safe, "#{RELATIVE_URL}/review_student_application_form/#{params[:user]}" + "/#{params[:step].to_i + 1}"%>
            <%end%>
            <%if params[:step].to_i == 6 %>
                <%= link_to "<button  class='custom-button'> Finish </button>".html_safe, "#{RELATIVE_URL}/review_dashboard/#{params[:user]}" %>
            <%end%>
        </div>
    </br>
    </br>
    </br>
  </div>
  <% end %>
</div>
<%#= render "devise/shared/links" %>
