<% id = "form-step-#{@sap.step}"   %>
<div class="student-application-form">
    <% from_ball = !params[:from_ball].nil? %>
    <%= form_for @sap, url: student_application_form_path(:from_ball => from_ball), :html => { :id => id }, :method => :post do |f| %>
    <div class="align-right">

      <% if params.has_key?(:from_ball) %>
        <a href="<%=user_dashboard_path%>" class="back-save-dashboard">
          <button class='custom-button right'>Close</button>
        </a>

        <button type="submit" value="0" class='custom-button primary right'>Save & Close</button>

      <% end %>
    </div>
    <h1>Student Application Form <span class="fake-arrow" > > </span>  </h1>

	  <%= render partial: "student_application_form/#{toNumeral(@sap.step)}_step" , :locals =>{ :f=> f, :sap => @sap, :review => false} %>
    <% final_steps_array = @sap.completed_steps_array  %>
  <div class="action-buttons">
    <div class="progress-bar">
        <div class="progress-line">
        </div>
        <div class="progress-balls">
        <a href="<%=student_application_form_path + "/personal_data_step" + (from_ball == true ? "?from_ball=true":"")%>"><span class='progress-ball previous-step done-step'></span></a>
        <% for i in 1..6 do %>
            <% classBall = final_steps_array[i-1] ? "done-step" :"todo-step " %>
            <%if @sap.step > i %>
              <% if from_ball == true %>
                <%= link_to "<span class='progress-ball previous-step #{classBall}'></span>".html_safe, student_application_form_path + "/#{i}?from_ball=true"%>
              <% else %>
                <%= link_to "<span class='progress-ball previous-step #{classBall}'></span>".html_safe, student_application_form_path + "/#{i}"%>
              <% end %>
            <%end%>
            <%if @sap.step === i %>
              <% if from_ball == true %>
                <%= link_to "<span class='progress-ball current-step #{classBall}'></span>".html_safe, student_application_form_path + "/#{i}?from_ball=true"%>
              <% else %>
                <%= link_to "<span class='progress-ball current-step #{classBall}'></span>".html_safe, student_application_form_path + "/#{i}"%>
              <% end %>
            <%end%>
            <%if @sap.step < i %>
              <% if from_ball == true %>
                <%= link_to "<span class='progress-ball future-step #{classBall}'></span>".html_safe, student_application_form_path + "/#{i}?from_ball=true"%>
              <% else %>
                <%= link_to "<span class='progress-ball future-step #{classBall}'></span>".html_safe, student_application_form_path + "/#{i}"%>
              <% end %>
            <%end%>
        <% end %>
        </div>
    </div>

    <div class="progress-buttons">
        <% if @sap.step.to_i == 1 %>
            <button type="submit" value="personal_data" name="step"  class='custom-button'> < Back</button>
        <% end %>
        <%if @sap.step - 1 > 0 %>
            <button type="submit" value="<%=@sap.step - 1%>" name="step"  class='custom-button'> < Back</button>
        <%end%>
        <%if @sap.step + 1 < 7 %>
            <button type="submit" value="<%=@sap.step + 1%>" name="step"  class='custom-button'> Next ></button>
        <%end%>
        <%if @sap.step == 6 %>
          <%if !params.has_key?(:from_ball) || from_ball == false %>
              <button type="submit" value="0" name="step" class='custom-button primary'> Finish</button>
          <%end%>
        <%end%>
    </div>
  </div>
   <%end%>
</div>