<div class="student-application-form">
	<h1>Student Application Form <span class="fake-arrow" > > </span>  </h1>
	<%= render partial: "student_application_form/#{toNumeral(@sap.step)}_step", :locals =>{ :sap => @sap, :review => false} %>


	<!--<%= @sap.step.to_s + " / 6"%>-->

    <% completed_steps_array =  @sap.completed_steps_array %>
    <% *prefix, last = completed_steps_array %>
    <% final_steps_array = [*prefix, true, last] %>
  <div class="actions">
    <div class="progress-bar">
        <div class="progress-line">
        </div>
        <% for i in 1..6 do %>
            <% classBall = final_steps_array[i] ? "done-step" :"todo-step " %>
            <%if @sap.step > i %>
                <%= link_to "<span class='progress-ball previous-step #{classBall}'></span>".html_safe, student_application_form_path + "/#{i}"%>
            <%end%>
            <%if @sap.step === i %>
                <%= link_to "<span class='progress-ball current-step #{classBall}'></span>".html_safe, student_application_form_path + "/#{i}"%>
            <%end%>
            <%if @sap.step < i %>
                <%= link_to "<span class='progress-ball future-step #{classBall}'></span>".html_safe, student_application_form_path + "/#{i}"%>
            <%end%>
        <% end %>
    </div>
    <div class="progress-buttons">
    <%if @sap.step - 1 > 0 %>
        <%= link_to "<button  class='custom-button'> < Back</button>".html_safe, student_application_form_path + "/#{@sap.step - 1}"%>
    <%end%>
    <%if @sap.step + 1 < 7 %>
        <%= link_to "<button  class='custom-button'> Next > </button>".html_safe, student_application_form_path + "/#{@sap.step + 1}"%>
    <%end%>
    </div>
    </br>
    <%= link_to "<button class='custom-button back-to-dashboard'> Back </button>".html_safe, user_dashboard_path %>
  </div>
</div>