<script type="text/javascript" charset="utf-8">
$("certificate_button").click(function(e){
  e.preventDefault();
});
</script>

<h1 class="title">Log in</h1>
<p class="intro-paragraph">To access the application you need to be nominated from your Home University. If you are nominated, you will receive an email from ETSIT with a link to access the registry. Check your inbox and your spam tray.</p>
<p class="intro-paragraph">We remind you that the deadline to receive your application package is <span class="red"><strong>June, 1st</strong></span> for the fall
  semester or academic year 2018-19 and <span class="red"><strong>December, 1st</strong></span> for the second semester. Please <u>complete your application package before the
  deadline</u> with the documents required in pdf.</p>

<% path1 =  session_path(resource_name).scan(/\/erasmus/).size == 2 ? session_path(resource_name).sub(/\/erasmus/,'') : session_path(resource_name) %>
<% path2 = new_user_sso_session_path.scan(/\/erasmus/).size == 2 ? new_user_sso_session_path.sub(/\/erasmus/,'') : new_user_sso_session_path %>


<%= form_for(resource, as: resource_name, url: path1) do |f| %>
<div class="flex-container signin-container">
<div class="flex-left-new">
  <div class="field">
    <div class="flex-container">
    <%= f.label :email %> 
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div class="field">
    <div class="flex-container">
    <%= f.label :password %> 
    <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: "checkBox" %>
    </div>
  <% end -%>
  <div class="field">
    <div class="actions">
      <%= render "devise/shared/links" %>

    </div>
    <%= f.submit "Log in", :class => "custom-button primary" %>
  </div>
</div>
<% end %>
<div class="flex-right-new">
 <div class="flex-container">
    <%= form_tag @login_url, :method => :post, :id => "saml-form", :class => "custom-button primary" do %>
      <% @post_params.each do |key, value| -%>
        <%= hidden_field_tag key, value %>
      <%end%>
     <button id="certificate_button" class="custom-button primary">I have a digital certificate</button>
    <% end %>
 </div>
</div>
</div>






