<!DOCTYPE html>
<html>
  <head>
    <title>eID4U</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="http://www.etsit.upm.es/fileadmin/template/images/favicon.ico" type="image/x-icon; charset=binary">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.4.85/css/materialdesignicons.min.css">
  </head>
  <body>
    <%= render "layouts/header" %>
    <p class="notice"><%= flash[:error] %></p>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>  
    <%= yield %>
  </body>
</html>
